In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
 def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [3]:
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [27]:
def main():
    database = r"C:\Users\tscofield\Documents\Git\SpringboardGit\data\sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        #select_all_tasks(conn)
        
        print("Query 10")
        question_ten(conn)
        
        print("Query 11")
        question_eleven(conn)
        
        print("Query 12")
        question_twelve(conn)
        
        #print("Query 13")
        #question_thirteen(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
Query 10
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)
Query 11
('Sarwin', 'Ramnaresh', '15', 'Bader', 'Florence')
('Coplin', 'Joan', '16', 'Baker', 'Timothy')
('Genting', 'Matthew', '5', 'Butters', 'Gerald')
('Baker', 'Timothy', '13', 'Farrell', 'Jemima')
('Pinker', 'David', '13', 'Farrell', 'Jemima')
('Rumney', 'Henrietta', '20', 'Genting', 'Matthew')
('Jones', 'Douglas', '11', 'Jones', 'David')
('Dare', 'Nancy', '4', 'Joplette', 'Janice')
('Jones', 'David', '4', 'Joplette', 'Janice')
('Hunt', 'John', '30', 'Purview', 'Millicent')
('Boothe', 'Tim', '3', 'Rownam', 'Tim')
('Joplette', 'Janice', '1', 'Smith', 'Darren')
('Butters', 'Gerald', '1', 'Smith', 'Darren')
('Owen', 'Charles', '1', 'Smith', 'Darren')
('Smith', 'Jack', '1', 'Smith', 'Darren')
('Mackenzie', 'Anna', '1', 'Smith', 'Darren')
('Worthington-Smyth', 'Henry', '2', 'Smith', 'Tracy')
('Purview', 'Millicent', '2', 'Smith', 'Tracy')
('Crumpet', 'Erica', '2', 'Smith', 'Tracy')
('Baker', 'Anne', '9', 'Stibbons', 'Ponder')
('Bader', 'Florence', '9', 'Stibbons', 'Ponder')
('Stibbons', 'Ponder', '6', 'Tracy', 'Burton')
Query 12
('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Badminton Court', 344)
('Table Tennis', 385)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Squash Court', 195)
('Snooker Table', 421)
('Pool Table', 783)

In [17]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
#that there's a different cost for guests and members!
def question_ten(conn):
    """
    """
    cur = conn.cursor()
    query = """
        SELECT * 
        FROM (
        SELECT subquery.facility, SUM( subquery.cost ) AS total_revenue
        FROM (
        SELECT f.name AS facility, 
        CASE WHEN b.memid = 0
        THEN f.guestcost * b.slots
        ELSE f.membercost * b.slots
        END AS cost
        FROM Bookings AS b
        INNER JOIN Facilities AS f
            ON b.facid = f.facid
        INNER JOIN Members AS m
            ON b.memid = m.memid
        )subquery
        GROUP BY subquery.facility
        )subquery2
        WHERE subquery2.total_revenue < 1000
        """
    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [7]:
# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
def question_eleven(conn):
    """
    """
    cur = conn.cursor()
    query = """
        SELECT m.surname AS member_surname, m.firstname AS member_firstname, m.recommendedby AS recommender_id,
            m2.surname AS recommender_surname, m2.firstname AS recommender_firstname
        FROM Members AS m
        LEFT JOIN Members AS m2 on m.recommendedby = m2.memid
        WHERE m.recommendedby > 0
        ORDER BY m2.surname, m2.firstname;
        """

    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [11]:
# Q12: Find the facilities with their usage by member, but not guests
def question_twelve(conn):
    """
    """
    cur = conn.cursor()
    query = """
        SELECT f.name AS facility, COUNT(b.memid) AS usage
        FROM (
        SELECT facid, memid
        FROM Bookings
        WHERE memid !=0
        ) AS b
        LEFT JOIN Facilities AS f ON b.facid = f.facid
        GROUP BY b.facid;
        """

    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [21]:
# Q13: Find the facilities usage by month, but not guests
def question_thirteen(conn):
    """
    """
    cur = conn.cursor()
    query = """
        SELECT b.months AS facilitiy_month, COUNT(b.memid) AS usage
        FROM (
        SELECT MONTH(starttime), memid
        FROM Bookings
        WHERE memid !=0
        ) AS b
        GROUP BY b.months;
        """

    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

The code for Q13 runs when I use the PHPMyAdmin interface, but I can't get it to compile here. It doesn't like the "Month()" function, and I cannot figure out another way to do it in SQLite.